<div class="text-center">
<h1>{{ article.title }}</h1>
<p>{{ article.contenu }} </p>
<img src="assets/images/{{ article.image }}"><br>

<button (click)="vote('+')">J'aime cet article</button> <br>
<button (click)="vote('-')">J'aime pas cet article</button> <br>

<p>Nombre de j'aime de l'article : {{ article.nbLike / 5 }}</p>
<p>Note de l'article sur 5 : {{ this.note }}</p>

<div class="row p-auto">

  <div class="m-auto d-inline-flex">
<div *ngFor="let i of this.arrayStar">
 <img class="noter" src="assets/images/star.png">
</div>
  </div>
</div>
</div>
